@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
  font-family: "Inter";
}

#timeLine::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -13px;
  background-image: url("/icons/airplane.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  transform: translateY(50%) rotate(90deg) scale(1.3);
}
